body {
  background-color: black;
  color: white;
}

h2.intro {
  color: gray;
  font-style: oblique;
  font-weight: bold;
}

p.intro {
  color: lightgray;
  font-weight: lighter;
  }

img.intro {
  width: 300px;
  float: left;
  padding: 10px;
}
